---
import DarkLightToggle from '@components/DarkLightToggle.astro'
import MenuToggle from '@components/ui/MenuToggle.astro'
import NavigationList from './NavigationList.astro'
import SiteLogo from './SiteLogo.astro'
import ProgressIndicator from './ProgressIndicator.astro'

type Props = {
    isStory?: boolean
}

const { isStory } = Astro.props
const { pathname } = Astro.url
---

<header class="js_header" data-story={isStory}>
    <header-layout>
        <SiteLogo pathName={pathname} />

        <header-collapse>
            <nav-layout>
                <nav aria-label="Primary" class="nav-list" id="navItems">
                    <NavigationList pathName={pathname} />
                </nav>
            </nav-layout>

            <theme-toggle>
                <DarkLightToggle />
            </theme-toggle>

            <nav-toggle>
                <MenuToggle
                    className="btn-toggle js_toggle"
                    aria-expanded="false"
                    aria-controls="navItems"
                >
                    menu
                </MenuToggle>

                <MenuToggle
                    className="btn-open js_nav-open"
                    command="show-modal"
                    commandfor="menuDialog"
                    aria-haspopup="dialog"
                    aria-controls="menuDialog"
                >
                    menu
                </MenuToggle>
            </nav-toggle>
        </header-collapse>

        <ProgressIndicator className="progress" aria-hidden="true" />
    </header-layout>
</header>

<dialog class="js_menu-dialog" id="menuDialog" aria-label="Navigation">
    <dialog-header>
        <SiteLogo pathName={pathname} />
        <MenuToggle
            className="btn-close js_nav-close"
            command="close"
            commandfor="menuDialog"
            autofocus>close menu</MenuToggle
        >
    </dialog-header>

    <nav aria-label="Main">
        <NavigationList pathName={pathname} />
    </nav>
</dialog>

<style>
    header {
        display: grid;
        justify-content: center;

        margin-block: var(--nav-offset);
        padding-inline: var(--nav-gutter);
        pointer-events: none;

        @supports (container-type: scroll-state) {
            &[data-story='true'] {
                position: sticky;
                inset-block-start: var(--nav-offset);
                z-index: 10;

                container-type: scroll-state;
                container-name: --sticky;
            }
        }

        > header-layout {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            pointer-events: auto;

            block-size: var(--nav-height);
            inline-size: calc(100vi - (var(--nav-gutter) * 2));
            max-inline-size: var(--constrain-lg);

            border-radius: 100vi;
            background-color: var(--surface-2);
            box-shadow: var(--shadow);

            transition-property: inline-size;
            transition-duration: 400ms;
            transition-timing-function: var(--elastic-in);

            container-name: --nav-bar;
            container-type: inline-size;

            @container --sticky scroll-state(stuck: block-start) {
                transition-duration: 125ms;
                transition-delay: 250ms;
                transition-timing-function: var(--ease);

                inline-size: calc(20rem - (var(--gutter) * 2));

                /* open state expands the header */
                .open & {
                    transition-duration: 400ms;
                    transition-delay: 0s;
                    transition-timing-function: var(--elastic-in);

                    inline-size: calc(100vi - (var(--nav-gutter) * 2));
                }
            }
        }

        /* Navigation collapsing part */
        header-collapse {
            display: grid;
            align-items: center;
            grid-auto-flow: column;

            > nav-layout {
                display: none;
            }

            > nav-toggle {
                anchor-name: --toggle;
            }

            .btn-open {
                @media (--large-nav) {
                    display: none;
                }
            }

            .btn-toggle {
                @media (--small-nav) {
                    display: none;
                }
            }

            @media (--large-nav) {
                > nav-layout,
                > nav-toggle {
                    overflow: hidden;
                }

                nav-layout {
                    display: grid;
                }

                .nav-list {
                    visibility: hidden;
                }

                @container --nav-bar (inline-size >= 37rem) {
                    grid-template-columns: 1fr auto 0fr;

                    .nav-list {
                        visibility: visible;
                    }

                    .btn-toggle {
                        display: none;
                    }
                }

                @container --nav-bar (inline-size < 37rem) {
                    grid-template-columns: 0fr auto 1fr;
                }
            }
        }
    }

    dialog {
        grid-template-rows: auto 1fr;
        align-items: start;
        gap: 1.5rem;

        block-size: 100%;
        inline-size: 100%;
        max-block-size: 100%;
        max-inline-size: 100%;

        color: inherit;
        border: none;
        padding: 1rem;
        background-color: var(--surface-2);

        @media (--motion-ok) {
            transition-property: opacity, display, overlay;
            transition-duration: 0.5s;
            transition-delay: 0s;
            transition-behavior: allow-discrete;
            transition-timing-function: linear;
        }

        opacity: 0;

        &[open] {
            display: grid;

            opacity: 1;

            @media (--motion-ok) {
                transition-delay: 0.25s;
                transition-timing-function: var(--ease-spring);
            }

            @starting-style {
                opacity: 0;
            }
        }

        > dialog-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    dialog::backdrop {
        --size: 3rem;

        position-anchor: --toggle;
        inset: auto;
        top: calc(anchor(center) - (var(--size) / 2));
        left: calc(anchor(center) - (var(--size) / 2));
        width: var(--size);
        block-size: var(--size);

        border-radius: 100%;
        outline: 1rem solid var(--color-primary-400);
        background-color: var(--surface-2);

        @media (--motion-ok) {
            transition-property: scale, display, overlay;
            transition-duration: 0.5s;
            transition-behavior: allow-discrete;
            transition-timing-function: linear;
        }

        scale: 0;
    }

    dialog[open]::backdrop {
        scale: 50;

        @media (--motion-ok) {
            transition-duration: 4s;
            transition-timing-function: var(--ease-spring);
        }
    }

    @starting-style {
        dialog[open]::backdrop {
            scale: 0;
        }
    }

    .progress {
        @container --nav-bar (inline-size = 17rem) {
            @container --sticky scroll-state(stuck: block-start) {
                transition: opacity 125ms ease-in;
                opacity: 1;
            }
        }
    }
</style>

<script>
    import { HeaderController } from './HeaderController'

    document.addEventListener('DOMContentLoaded', () => {
        new HeaderController({
            headerSelector: '.js_header',
            toggleSelector: '.js_toggle',
            dialogSelector: '.js_menu-dialog',
        })
    })
</script>
