---
import '@styles/global.css'

import BaseHead from '@layouts/BaseHead.astro'
import NavHeader from '@/components/NavHeader.astro'
import SkipLink from '@/components/SkipLink.astro'
import Webring from '@/components/ui/Webring.astro'
import Badge from '@/components/ui/Badge.astro'
import CustomLink from '@/components/ui/CustomLink.astro'

type Props = {
    title?: string
    description?: string
    ogType?: string
    image?: string
    footerType?: 'dark' | 'light'
    showWebring?: boolean
}

const { pathname } = Astro.url
const currentYear = new Date().getFullYear()
const { title, description, ogType, image, footerType = 'dark', showWebring = true } = Astro.props
---

<!doctype html>
<html lang="en">
    <BaseHead {title} {description} {ogType} {image} />

    <body nojs>
        <SkipLink>Skip to content</SkipLink>
        <NavHeader />

        <main class="grid" id="main" aria-label="Main content" tabindex="-1">
            <slot />
        </main>

        <footer class={`grid lane lane--${footerType}`}>
            <p class="footer-text fs--1">
                © {currentYear} Roland Franke. Built with semantic HTML and a healthy love for <Badge
                    id="CSS">CSS</Badge
                >.
            </p>
            <p class="footer-text fs--1">
                <CustomLink
                    href="/sitemap/"
                    aria-current={pathname.slice(1) === 'sitemap/' ? 'page' : undefined}
                >
                    sitemap
                </CustomLink>
            </p>

            {showWebring && <Webring />}
        </footer>
    </body>
</html>

<script>
    const originalTitle = document.title

    document.body.removeAttribute('nojs')

    document.addEventListener('visibilitychange', () => {
        document.hidden ? (document.title = 'Aw, Snap! 🤯') : (document.title = originalTitle)
    })
</script>

<style>
    footer {
        row-gap: 1.5rem;
    }

    .footer-text {
        text-align: center;
        margin-inline: auto;
    }
</style>

<style is:global>
    .prose {
        gap: 0;
    }

    .prose > * {
        grid-column: xsmall;
    }
</style>
