---
import { type CollectionEntry } from 'astro:content'

import FormattedDate from '@components/ui/FormattedDate.astro'
import Badge from '@components/ui/Badge.astro'
import Link from '@components/ui/Link.astro'
import Heading from '@components/ui/Heading.astro'

type Props = {
    post: CollectionEntry<'posts'>
}


const { post } = Astro.props
const { title, description, pubDate, tags, author } = post.data

const slug = `/frontend-stories/${post.id}`
---

<article>
    <header>
        <Heading tagName="h2" size="h3">
            <Link as="a" href={slug} set:html={title} />
        </Heading>

        <p class="flex">
            {
                author && (
                    <span>
                        {' '}
                        by <span class="italic">{author}</span>
                    </span>
                    <span class="dot" aria-hidden="true">•</span>
                )
            }
            <FormattedDate {pubDate} />
        </p>

        <div class="flex inline-wrap">
            {tags.map((tag) => <Badge id={tag}>{tag}</Badge>)}
        </div>
    </header>

    <p>{description}</p>

    <Link as="a" variant="primary" href={slug}>Read Post</Link>
</article>

<style>
    .flex {
        gap: 1rem;
    }
    article {
        grid-column: xsmall;
        display: grid;
        gap: utopia.clamp(16, 32);

        + article {
            border-top: 1px solid var(--color-primary-400);
            padding-top: utopia.clamp(48, 96);
        }
    }

    header {
        display: grid;
        gap: 1rem;
    }

    .dot {
        font-size: .75rem;
        color: var(--color-primary-400);
        font-feature-settings: 'aalt' on;
    }
</style>
