---
import { type CollectionEntry, getEntries } from 'astro:content'

import FormattedDate from '@components/ui/FormattedDate.astro'
import Badge from '@components/ui/Badge.astro'
import Link from '@components/ui/Link.astro'
import Heading from '@components/ui/Heading.astro'

type Props = {
    post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const { title, description, image, pubDate, tags } = post.data
const tagsData = await getEntries(tags)
---

<article>
    <header>
        <Heading tagName="h2" size="h3">
            <Link as="a" href={`/blog/${post.slug}`} set:html={title} />
        </Heading>

        <FormattedDate {pubDate} />

        <div class="flex inline-wrap">
            {tagsData.map(({ id, data }) => <Badge id={id}>{data.title}</Badge>)}
        </div>
    </header>

    <p>{description}</p>

    <Link as="a" variant="primary" href={`/blog/${post.slug}`}>Read Post</Link>
</article>

<style>
    article {
        grid-column: xsmall;
        display: grid;
        gap: utopia.clamp(16, 32);

        + article {
            border-top: 1px solid var(--color-primary-400);
            padding-top: utopia.clamp(48, 96);
        }
    }

    header {
        display: grid;
        gap: 0.5rem;
    }
</style>
